@import 'base/reset';
@import 'tools/animations';
@import 'tools/overrides';
@import 'tools/placeholders';
@import 'tools/composants';
//SECTION HEADER
@import 'layout/header';
//FOOTER
@import 'layout/footer';

//trouver une solution dynamique pour une division en n-elements au lieu d'un fixe
#nav-logiciels{
    li{
      width:calc(100% / 6);
    }
}
#nav-infra{
  li{
    width:calc(100% / 5);
  }
}
#banner-img{
  //position:relative;
  @extend %banner-top--solutions;
}

//Layout Général
.logiciels{
  @extend %padding-section;
  background:$blanc;
  &:nth-of-type(even){
    background:$gris-light;
  }
  //&:nth-child(2n){
  //  background:$gris-light;
  //}

}
.logiciels-presentation_content{
      & img.picto-logiciels{
    max-width:180px !important;
    float:right; //peut provoquer un dés-alignement des contenus suivants
  }
      & img.picto-services{
      max-width:90px !important;
      float:right; //peut provoquer un dés-alignement des contenus suivants
    }
      & img.picto-services--rounded{
      max-width:70px !important;
      float:right; //peut provoquer un dés-alignement des contenus suivants
      border-radius:50%;
      box-shadow: 0px 3px 6px rgba($noir,0.75),0 0 0 1px $bleu-logo;
      shape-outside:circle(50% at center);
      //clip-path:ellipse(70% 30%  at 50% 50%);
      //-webkit-clip-path:ellipse(70% 30% at 50% 50%);
    }
}
.logiciels_subcontent{
  margin-top:2rem;
  @include flex-standard(column,space-between,center);
  & img{
    margin-bottom:1rem;
    //à modifier si d'autres illustrations interviennent
    object-position: -2px 0;
    @include transition-standard(transform,0.1s, ease-in-out);
    &:hover{
      //transform:scale3d(1.01,1.01,1.01);
    }
  }
  & p.accroche{
    margin:1.5rem 0 ;
    padding-bottom:2px;
    color:$bleu-logo;
    font-style: italic;
    border-bottom:1px solid currentColor;

  }
  & p:not(.accroche){
    margin:0.55rem 0;
    align-self: flex-start;
  }

  & .solutions-grid{
    width:60%;
    max-width:70%;
    display:flex;
    flex-wrap:wrap;
    margin-bottom:2.5rem;
    @include transition-standard(box-shadow,0.15s,ease-in);
     & > li {
       width:50%;
       line-height:3rem;
       text-align:center;
       background: $blanc;
       outline:1px solid rgba($gris,0.25);
       @include box-shadow(0,1px,3px,$noir);
       @include transition-standard(all,0.1s,ease-in);
            a{
         font-size:$texte;
         font-weight:bold;
         color:$bleu;
         text-decoration: underline;
       }

          &:hover,&:focus,&:active{
            transform:translateY(-8px);
            box-shadow: 0 -4px 0 $bleu,0 3px 6px rgba($noir,0.55);
            &:nth-of-type(3), &:nth-of-type(4){
              transform:translateY(8px);
              box-shadow: 0 4px 0 $bleu,0 3px 6px rgba($noir,0.55);
            }

           }
     }
  }

  //p{
  //  margin:0.55rem 0;
  //}

  //tableau bootstrap
  & .table{
      background:$blanc;
      outline:2px solid $bleu-logo;
      thead{
      & th{
        padding:0.5rem;
        font-size:$texte_2;
        color:$bleu-logo;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        line-height:1.2;
        vertical-align:top;
        border-bottom:2px solid rgba($noir,0.25);
      }
    }
      tbody{
       & td{
         border-bottom:1px solid rgba($noir,0.25);
         vertical-align:middle;
       }
       & td:first-of-type{
         text-align: center;
         font-weight:bold;
         background: linear-gradient(to right, rgba($bleu-logo,0.25) 0%, rgba($bleu-logo,0.25) 50%, transparent 50%, transparent 100% );
         background-size:200% 100%;
         background-position: 100% 0;
         transition: all 0.25s ease-in;
         //background-color:rgba($bleu,0.25);

         &:hover,&:focus,&:active{
         background-position: 0 0;
           & + td {
             color:$bleu-logo;
             font-weight:bold;
           }
       }
       }
     }
  }
}
//layout pour service
.services_subcontent{
  @include flex-standard(column,space-between,flex-start);

    &:not(:first-of-type){
  margin:1rem 0;
  }

  & > img:not(.svg-logo) {
   margin:0 auto;
    @include box-shadow(0,3px,6px,rgba($noir,0.35));
  }
  & > img.svg-logo{
  width:200px;
  filter:drop-shadow(3px 3px 1px rgba($bleu,0.45));
  }
  & > p:first-of-type {
    margin-top:1rem;
  }
  & .services-list, & .tools-list{
    //align items : center to flex start pour linéariser le css entre infra et services
    @include flex-standard(column,space-between,flex-start);
      & li {
        margin:0.5rem;
        color:$gris;
        font-size:$texte_2;
          &::before{
          content: '' ;
          display:inline-block;
          @include bg-sizing-pseudo-el(22px,22px);
            background:url('../img/icon/check-list.svg') no-repeat center;
          border-radius:50%;
          margin-right:0.85rem;
            vertical-align:middle;
        }
          span{
            color:$noir;
          font-weight:$bold;
          font-style: italic;
            margin-bottom:1rem;
        }
      }

  }
  & .services-grid{
    //obligation de fixer une width a ul car elle prend la taille de ses enfants sinon
    width:100%;
    min-height:600px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
        .services-grid--item{
          position:relative;
          width:21%;
          height:150px;
          padding:5px;
          overflow:hidden;
          display:flex;
          justify-content: center;
          align-items: center;
          background-color:$blanc;
          outline:3px solid rgba($bleu-logo,0.15);
          outline-offset:-1px;
          transition:outline 0.15s ease-in-out;
          & img{
              //svg layout
            width:100%;
            //object-position:50% 50%;
            &.svg-logo{
              width:120px;
            }


          }
          & .overlay--content{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            @include flex-standard(row,center,center);
            width:0;
            height:0;
            overflow: hidden;
            border-radius:50%;
            background:linear-gradient(rgba($bleu-logo,0.25), rgba($bleu-logo,0.25));
            //background:radial-gradient( rgba($bleu-logo,0.10) 0%, rgba($bleu-logo,0.45) 50%, rgba($bleu-logo,0.75) 100%);
            transition:all 0.35s ease-in-out;
              & span{
                opacity:0;
                position:absolute;
                top:100%;
                left:50%;
                text-align: center;
                transform: translate(-50%,-50%);
                @include transition-standard(all,0.1s,ease-out);
                color:$blanc;
                font-weight:bold;
              }
          }
            &:hover,&:focus{
            outline-color:$bleu-logo;
            & img {
              opacity:0.65;
            }
              & .overlay--content{
                width:100%;
                height:100%;
                border-radius:0;
                & span{
                  opacity:1;
                  top:50%;

                }
              }

          }
        }

  }
  & .partners-list{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

    & img{
      width:120px;
      max-width:150px;

    }

  }
}


//Layout Content
.services_content--main{
  margin-top:2rem;
  @include flex-standard(column,flex-start,flex-start);
  //si video
  &  h3{
    font-size:$texte;
    font-style: italic;
    align-self: center;
    margin-top: 1rem;
    text-align: center;
    color:$bleu;
    text-shadow:1px 1px 1px rgba($noir,0.35);
  }
  .video-container{
    background-size:100% 75%;
    @include transition-standard();
    & iframe{
      max-width:100%;
      box-shadow: 0 2px 4px rgba($noir,0.85);
    }
    &:hover,&:focus{

      background-color:rgba($bleu,0.35);
    }
  }
  //si pas bloc Row
  &  iframe {
    align-self: center;
    margin-bottom:2rem;
    box-shadow: 0 2px 4px rgba($noir,0.85);
  }
  &  a{
    align-self:center;
    line-height:$button-item;
  }
}
.toggle-infos{
  margin-top:2rem;
  width:100%;
  min-height:50px;
  //background:$gris-light;
  @include flex-standard(column,center,center);

    button{
      width:100px;
      height:50px;
      font-size:$button-item;
      border:1px solid $bleu;
      background:url('../img/icon/arrow_down.svg') no-repeat center,$blanc;
      background-size:100px 50px;
      transition:transform 0.25s ease-in-out;
        &.active-btn{
          transform: rotateX(180deg);

      }

    }
}
.logiciels-more_content{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top:1rem;
  padding:10px;
  @include box-shadow-complet(1px,2px,3px,1px,rgba($noir,0.35));
//@include box-shadow(0,2px,2px,rgba($noir,0.45));
  background:$blanc;
  transition: all 0.4s 0.25s ease-in-out;
  //cache/montre le contenu supp au click du button
  &.hidden {
    display:none;
  }
    span{
      @include flex-standard(row,center,center);
      //&.pseudo-test{
      //  display:block;
      //  @include bg-sizing-pseudo-el(80px,100px);
      //  background:url('../img/icon/accolade.svg') no-repeat center;
      //}
    }
}
.logiciels--modules{
  @include flex-standard(column,center,flex-start);
  list-style-type:disc;
  //list-style-image: url("../img/icon/check-list.svg");
  li{
    font-size:$texte;
  }
}

//Services
.contrat-slider{
  justify-content: space-between;
}
.contrat_container{
  padding:0.8rem ;
  @include flex-standard(column,flex-start,center);
  background-color:$blanc;
  @extend %btn-radius;
  box-shadow: 0 0 4px rgba($noir,0.35),0 2px 2px rgba($noir,0.45), 0 0 0 2px $bleu-logo;
  @include transition-standard(all,0.15s,ease-in-out);
  & h2{
    margin-top:0.85rem;
    font-size:$h2;
    color:$gris;

      & .contrat--type {
      text-transform: uppercase;
      letter-spacing: 1px;
      color:$noir;
    }
  }
  & img{
    max-width:100px;
  }
  &:hover,&:focus{
    transform:translateY(-8px);
    box-shadow:0 0 4px rgba($noir,0.55), 0 4px 8px rgba($noir,0.85),0 0 0 2px $bleu-logo;
  }
}
.contrat--header{
  @include flex-standard(column,center,center);
  & img {
    max-width:75px;
  }
}
.contrat--content{
  p{
    margin:1rem 0;
    line-height:1.2;
    text-overflow:ellipsis;
  }
}

//Specs spéciales
//Devilog
#gestion_pme,#tableaux_bord{
  .logiciels--modules{
    margin-left:1rem;
  }
  .logiciels-more_content{
    display:none;
  }
}
#replication_restau{
  .services_content--main{
    margin-top:1rem;
  }
}






















